.carouselWrap{
    display: flex;
    justify-content: center;
    /*width: 500px;*/
}

.carousel{
    width: 500px;
    height: 500px;
}

.slide{
    max-width: 90vw;
}

.slide *{
    text-align: center;

}

.price{
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 5px 10px;
    border: #0c426f 1px solid;
    border-radius: 5px;
}

/* size block */
.sizeBlockWrap{
    position: relative;
}

.sizeBlockWrap [type="radio"]{
    position: absolute;
    left: 0;
    opacity: 0;
}

.sizeBlockWrap [type="radio"] + label{
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    font-size: var(--price-size);
    border-radius: 20px;
    padding: 3px;
    margin: 5px 10px 5px 0;
    width: 3rem;
    text-align: center;
    border: 1px solid #eeeeee;
}

.sizeBlockWrap [type="radio"]:checked + label{
    border: 1px solid #61dafb;
}

.sizeBlockWrap [type="radio"]:disabled + label{
    border: 1px solid #282c34;
    background: rgba(0, 0, 0, 0.35);
}

/* end - size block - end*/

/* Swiper */
.swiperOnPage {
    user-select: none;
    box-sizing: border-box;
    width: 500px;
    max-height: 500px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 40px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .swiperOnPage {
        width: 90vw;
        max-height: 90vh;
    }
}

.swiper-wrapper{
    align-items: center;
}

.swiper-slideOnPage {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slideOnPage img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* end - swiper - end*/

.priceBlock{
    display: flex;
    flex-direction: row;
}

.buyButton{
    background: rgba(211, 29, 29, 0.92);
    color: white;
    border: 0;
    border-radius: 5px;
    width: max-content;
    padding: 5px 10px;
    font-size: 1.3rem;
    transition: 0.5s;
    margin-left: 50px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.buyButton:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.productDescription{
    font-size: 1.1em;
}