.carouselWrap{
    display: flex;
    justify-content: center;
    /*width: 500px;*/
}

.carousel{
    width: 500px;
    height: 500px;
}

.slide{
    max-width: 90vw;
}

.slide *{
    text-align: center;

}

.price{
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 5px 10px;
    border: #0c426f 1px solid;
    border-radius: 5px;
}

/* size block */
.sizeBlockWrap{
    position: relative;
}

.sizeBlockWrap [type="radio"]{
    position: absolute;
    left: 0;
    opacity: 0;
}

.sizeBlockWrap [type="radio"] + label{
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    font-size: var(--price-size);
    border-radius: 20px;
    padding: 3px;
    margin: 5px 10px 5px 0;
    width: 3rem;
    text-align: center;
    border: 1px solid #eeeeee;
}

.sizeBlockWrap [type="radio"]:checked + label{
    border: 1px solid #61dafb;
}

.sizeBlockWrap [type="radio"]:disabled + label{
    border: 1px solid #282c34;
    background: rgba(0, 0, 0, 0.35);
}

/* end - size block - end*/