.wrapper{
    display: flex;
    position: relative;
}

.descriptionWrap{
    display: flex;
    flex-direction: column;
}

.productTitle{
    font-size: 1.3rem;
    font-weight: bold;
}


.inputNumberWrap{
    position: relative;
}

.inputNumberWrap *{
    appearance: none;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #eeeeee;
}

.inputNumberWrap button{
    padding: 5px 10px;
    width: 2rem;
    user-select: none;
    cursor: pointer;
}

.inputNumberWrap input{
    max-width: 4rem;
}