.wrapper{
    display: flex;
    position: relative;
    --price-size: 1.3rem;
    margin-bottom: 20px
}

.productImgWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.descriptionWrap{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 200px;
    box-sizing: border-box;
}

.descriptionWrap *{
    margin: 0;
}

.productTitle{
    font-size: calc(var(--price-size) + 0.1rem);
    font-weight: bold;
}

.delProd{
    width: 100px;
    appearance: none;
    border: 2px solid #eeeeee;
    border-radius: 1rem;
    padding: 5px 0;
    background: #0c426f;
    color: white;
    cursor: pointer;
}

.productPrice{
    margin-top: auto;
    font-size: calc(var(--price-size) - 0.1rem);
}

.productPriceDetail{
    color: rgba(0, 0, 0, 0.6);
}


/* Product count */
.inputNumberWrap{
    position: relative;
}

.inputNumberWrap *{
    appearance: none;
    padding: 5px;
    text-align: center;
    font-size: var(--price-size);
    box-sizing: border-box;
    outline: none;
    border: 1px solid #eeeeee;
}

.inputNumberWrap button{
    padding: 5px 10px;
    width: 2rem;
    user-select: none;
    cursor: pointer;
}

.inputNumberWrap input{
    max-width: 4rem;
    appearance: none;
}

.inputNumberWrap input::-webkit-outer-spin-button,
.inputNumberWrap input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* end - Product count - end*/


/* Size select style*/
.sizeBlockWrap{
    position: relative;
}

.sizeBlockWrap [type="radio"]{
    position: absolute;
    left: 0;
    opacity: 0;
}

.sizeBlockWrap [type="radio"] + label{
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: var(--price-size);
}

.sizeBlockWrap [type="radio"]:checked + label{
    border: 1px solid #61dafb;
}
/* end - Size select style - end*/