.cardWrap{
    position: relative;
    min-width: 260px;
    max-width: 350px;
    flex-grow: 1;
}

.cardRoot {
    text-decoration: none;
    height: 250px;

    display: block;
    position: relative;
    border: 1px solid rgba(107, 107, 107, 0.25);
/*border: #61dafb solid;*/
    border-radius: 5%;
    user-select: none;
    color: black;
    margin: 0 20px 10px 10px ;
    transition: 0.4s;
}

.cardRoot:hover {
    background: rgba(117, 117, 117, 0.15);
}

.hoverWrap{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hoverItem{
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 1);

    background: white;
    border: 1px solid rgba(107, 107, 107, 0.25);
    cursor: pointer;
    transition: 0.3s;
}

.hoverItem:hover{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.75);
    color: rgba(0, 0, 0, 0.75);
    /*text-shadow: 1px 1px 1px #0c426f;*/
}

.titleWrap{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.title{
    text-decoration: none;
    color: black;

    box-shadow: 1px 1px 3px #0c426f, -1px -1px 3px #0c426f, -1px 1px 3px #0c426f, 1px -1px 3px #0c426f ;
    /*border: 1px solid rgba(107, 107, 107, 0.25);*/

    border-radius: 20px;
    font-size: 2em;
    background: none;
    cursor: pointer;
    padding: 3px 12px 8px 12px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.title:hover{
    background: rgba(204, 204, 204, 0.15);
    /*border: 0;*/
    color: rgba(0, 0,0, 0.85);
    box-shadow: 5px 5px 3px #0c426f, -5px -5px 3px #0c426f, -5px 5px 3px #0c426f, 5px -5px 3px #0c426f ;
}