.cardWrap{
    position: relative;
    min-width: 260px;
    max-width: 350px;
}


.titleWrap{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.title{
    text-decoration: none;
    color: black;

    box-shadow: 1px 1px 3px #0c426f, -1px -1px 3px #0c426f, -1px 1px 3px #0c426f, 1px -1px 3px #0c426f ;
    /*border: 1px solid rgba(107, 107, 107, 0.25);*/

    border-radius: 20px;
    font-size: 2em;
    background: none;
    cursor: pointer;
    padding: 3px 12px 8px 12px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.title:hover{
    background: rgba(204, 204, 204, 0.15);
    /*border: 0;*/
    color: rgba(0, 0,0, 0.85);
    box-shadow: 5px 5px 3px #0c426f, -5px -5px 3px #0c426f, -5px 5px 3px #0c426f, 5px -5px 3px #0c426f ;
}